lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.project
*.bowerrc
*.editorconfig
*.eslintrc.js

pids
logs
results
icon/

npm-debug.log
node_modules

needNotCss/
scss/
plugins/
platforms/
hooks/
resources/

