<ion-view view-title="全部订单">
  <div class="allOrders">
    <div class="filter-time">
      <div class="left-filter">
        <input type="datetime-local" ng-model="search.startDate" name="beginTime"  required ng-change="whetherInMonth()"  />
        —
        <input type="datetime-local" ng-model="search.endDate"  name="endTime" required  />
      </div>
      <div  class="right-filter">
        手机号
        <input type="tel" name="orderNumber" style="width: 1.8rem;" ng-model="search.phone" />
        用户昵称
        <input type="text" name="orderNumber" style="width: 2.4rem;" ng-model="search.customerName" />
        <a ng-click="searchAllOrders()">查询</a>
      </div>
    </div>

    <div class="allorders-table">
      <div class="table-head">
        <span style="width: 2.9rem;"> 提交时间</span>
        <span style="width: 3.42rem;">方案编号</span>
        <span style="width: 1.88rem;">彩民昵称</span>
        <span style="width: 1.8rem;">金额/票数</span>
        <span style="position: relative;width: 1.74rem;z-index: 3;" ng-click="whetherShowLotteryIDChoose=!whetherShowLotteryIDChoose;whetherShowStatusChoose=false">
          <!-- <span ng-if="!choosedLotteryID">彩种</span>
          {{choosedLotteryID}} -->
          <b >彩种</b>

          <ul class="status-ul lottery" ng-show="whetherShowLotteryIDChoose">
            <li  ng-repeat="eachLotteryID in allLotteryID " ng-click="filterLotteryID(eachLotteryID)">{{eachLotteryID}}</li>
          </ul>
          <i class="triangle-down"></i>
        </span>
        <span style="position: relative;width: 1.86rem;z-index: 3;" ng-click="whetherShowStatusChoose=!whetherShowStatusChoose;whetherShowLotteryIDChoose=false">
          <!-- <span ng-if="!choosedStatus">订单状态</span>
          {{choosedStatus}} -->
          <b>订单状态</b>

          <ul class="status-ul" ng-show="whetherShowStatusChoose">
            <li ng-repeat="eachStatus in allStatus " ng-click="filterStatus(eachStatus)">{{eachStatus}}</li>

          </ul>
          <i class="triangle-down"></i>
        </span>
        <span style="width: 1.6rem;">订单详情</span>
      </div>
      <img src="common/img/blank.png" ng-if="allOrders.length === 0">
      <ion-scroll direction="y" style=" height: 7.13rem">
        <div class="table-body" ng-repeat="order in allOrders">
          <span style="width: 2.9rem;" ng-cloak>{{order.createDate}}</span>
          <span style="width: 3.42rem;" ng-cloak>{{order.ticketID}}</span>
          <span style="width: 1.88rem;" ng-cloak>{{order.customerName}}</span>
          <span style="width: 1.8rem;" ng-cloak>{{order.money/100}}/{{order.lotteryList.length}}</span>
          <span style="width: 1.74rem;" ng-cloak>{{order.lotteryType}}</span>
          <span style="width: 1.86rem;" ng-cloak>{{order.statusChina}}</span>
          <span style="width: 1.6rem;"><a href="" ng-click="showDetail($index)">查看</a></span>
        </div>
        <img src="common/img/nomore.png" ng-if="allOrders.length !== 0 && showLastPic === true" class="last-pic">
        <ion-infinite-scroll ng-if="moreOrders.moredata" on-infinite="moreOrders.loadMore()" distance="1%"></ion-infinite-scroll>
      </ion-scroll>

    </div>
  </div>

</ion-view>
