<ion-modal-view id="betTicketDetailModal2">
  <div class="top">
    <p class="text1">
      <span>派奖详情</span>
      <span class="fr" ng-cloak>订单编号:{{orderInfo.ticketID}}</span>
    </p>
    <div class="status-line">
      <span class="status-item">
        <span class="circle"></span>
      <span class="line"></span>
      </span>
      <span class="status-item  active-item">
        <span class="circle"></span>
      <span class="line"></span>
      </span>
      <span class="status-item">
        <span class="circle"></span>
      </span>
    </div>
    <div class="status-text">
      <span class="fl">待出票</span>
      <span>待派奖</span>
      <span class="fr">完成</span>
    </div>
    <div class="status-ball">
      <span ng-cloak>待派奖</span>
    </div>
  </div>
  <div class="bottom">
    <div>
      <span class="left">彩民备注:</span>
      <span class="right-text" ng-cloak>
        {{orderInfo.customerName}}
      </span>
    </div>
    <div>
      <span class="left">订单奖金:</span>
      <span class="right-text2" ng-cloak>
        {{orderInfo.nowTotalWinamt/100}}
        <small class="text-style1">元</small>
      </span>
    </div>
    <div >
      <span class="left">派奖金额:</span>
      <span class="right-text2" ng-cloak>
        {{orderInfo.nowTotalWinamt/100}}
        <small class="text-style1">元</small>
      </span>
      <!-- <input type="number" class="right-text3" ng-model="sendAmt" /> -->
    </div>
    <div >
      <span class="left">是否取票:</span>
      <span class="right-text">
        <span class="upload-checkbox" ng-click="getTicket()" ng-class="orderInfo.whetherHaveGetTicket?'checked':''"></span>
        已取票
      </span>
      <!-- <input type="number" class="right-text3" ng-model="sendAmt" /> -->
    </div>
    <div ng-if="iSelectActiveTab !== 2">
      <span class="left">上传凭证:</span>
      <span class="right-text">
        <span class="upload-checkbox" ng-click="checkboxSelected.whether=!checkboxSelected.whether" ng-class="checkboxSelected.whether?'checked':''"></span>
      </span>
    </div>
    <div ng-if="iSelectActiveTab === 2">
      <span class="left">查看凭证:</span>
      <span class="right-text">
        <span class="upload-checkbox" ng-click="checkUploadImg('returnImg')" ng-class="checkboxSelected.whether?'checked':''"></span>
      </span>
    </div>
  </div>
  <!-- 出票凭证照片 -->
  <div class="upload-total-wrap orderdetail-upload clearfix" ng-if="checkboxSelected.whether">
    <div class="upload-wrap clearfix">
      <div class="upload-img-wrap" ng-repeat="imgSrc in imageList">
        <span class="delete" ng-if="iSelectActiveTab !== 2" ng-click="deleteUploadImg($index)"></span>
        <img class="charge-img" ng-click="showLargeUploadImg(imgSrc)" style="width: 140px;height: 80px;" src="{{imgSrc}}" />
      </div>
      <div class="upload-img-wrap" style="margin-right: 0;" ng-click="showAction()" ng-if="iSelectActiveTab !== 2">
        <i class="icon-cross" style="font-size: 32px"></i>
      </div>
    </div>
    <p class="tips2" ng-if="iSelectActiveTab !== 2">*最多上传3张凭证照片</p>
  </div>
  <div class="bottom" style="padding-top: .1rem;padding-bottom: .46rem;" ng-show="iSelectActiveTab !== 2">
    <div>
      <span class="left">操作密码:</span>
      <input class="password" type="password" name="" ng-model="returnParams.payPassword" />
      <a class="forget" ng-click="modalSendDetailModal.hide()" ui-sref="modules.mine.accountSets({editAccount:'editAccount'})">忘记密码</a>
    </div>
  </div>
  <div class="row alternative" ng-show="iSelectActiveTab !== 2">
    <div class="col" style="border-right: 1px solid #b2b2b2;" ng-click="modalSendDetailModal.hide();checkboxSelected.whether = false;">取消</div>
    <div class="col" style="color: #d21e1e;" ng-click="confirmSendPrize()">确定派奖</div>
  </div>
</ion-modal-view>
