<ion-popover-view>
  <div class="charge-confirm">
    <div class="charge-password">
      <h3>请输入操作密码</h3>
      <span class="charge-text1" ng-click="closePopInputPass()">X</span>
      <div ng-if="!rejectCharge">
        <p class="charge-text2">{{oVerifyView.text1}}</p>
        <p class="charge-text3" ng-cloak>
          ¥{{submitCharge.money | number:2}}
        </p>
      </div>
      <div ng-if="rejectCharge">
        <p class="charge-text2">拒绝申请</p>
        <p class="charge-text3" ng-cloak style="font-size: 28px">
          {{oVerifyView.text2}}:¥{{submitCharge.money | number:2}}
        </p>
      </div>
      <form>
        <div class="passContainer">
          <input type="password" id="chargePass" maxlength="6" ng-model="submitCharge.password" class="password" ng-change="confirmVerify()" />
          <div class="passItem"></div>
          <div class="passItem"></div>
          <div class="passItem"></div>
          <div class="passItem"></div>
          <div class="passItem"></div>
          <div class="passItem"></div>
        </div>
      </form>
    </div>
  </div>
</ion-popover-view>
