<ion-view view-title="充值">
  <div class="charge-right" ng-click="backToCharge()">
    <h3>{{oView.h3}}</h3>
    <div class="charge-other">
      <div class="target">
          <p>
            <span>添加彩民:</span>
            <span class="text">{{userName}}</span>
            <i class="icon-add-user" style="font-size: 30px;margin-left:.2rem; " ng-click="addChargeCustomer()"></i>
          </p>
      </div>
      <div class="target">
          <p>
            <span>{{oView.text1}}</span>
            <input class="charge-text" type="number" name="" ng-model="ownerCharge.money" />
            元
          </p>
          <p>
            <span>操作密码:</span>
            <input type="password" name="" ng-model="ownerCharge.password" />
            <span class="remark">(管理操作密码)</span>
          </p>
          <p>
            <span>{{oView.text2}}</span>
            <input type="text" name="" ng-model="ownerCharge.remark" />
          </p>
      </div>
      <div class="row do">
        <div class="col">
          <a class="red-btn" ng-click="comfirmCharge()">{{oView.text3}}</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="allCustomers.html">
    <ion-popover-view style="width:500px;">
      <ion-scroll zooming="true" direction="y" style="width: 500px; height: 600px">
        <ion-item ng-repeat="name in allCustomersName track by $index" ng-click="chooseThisUser($index)">
          {{name.nickName}}
        </ion-item>
      </ion-scroll>
    </ion-popover-view>
  </script>
</ion-view>
