<ion-view view-title="充值提现">
  <div class="charge-right" ng-click="backToCharge()">
    <h3>{{oVerifyView.h3}}</h3>
    <p class="text0">
      <span ng-if="afterOperation.charge">
        {{oVerifyView.accept}}
      </span>
      <span ng-if="afterOperation.edited">
        已修改
      </span>
      <span ng-if="afterOperation.rejected">
        已拒绝
      </span>
    </p>
    <p class="text1" ng-cloak>
      {{eachChargeDetail.customerName}}
    </p>
    <p class="text2" ng-cloak>
      ¥{{eachChargeDetail.money/100 | number:2}}
    </p>
    <div class="text3">
      <span ng-click="seekChargeVoucher($event)" ng-if="eachChargeDetail.customerImg">查看凭证</span>
      <div class="seek-voucher " ng-show="chargeVoucher">
        <h6>查看凭证</h6>
        <span ng-click="chargeVoucher=false;$event.stopPropagation()">X</span>
        <div class="upload-total-wrap clearfix" style="width: 5.86rem;margin-bottom: .3rem">
          <div class="upload-wrap clearfix">
            <div class="upload-img-wrap" ng-repeat="imgSrc in getApplyRechargeImages">
              <img class="charge-img" ng-click="showLargeUploadImg(imgSrc)" style="width: 140px;height: 80px;" src="{{imgSrc}}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="operations row">
      <div class="col">
        <a class="red-btn" ng-class="afterOperation.done?'grey2':''" ng-click="agreeCharge();$event.stopPropagation()" ng-disabled="afterOperation.done">同意</a>
      </div>
      <div class="col" style="position: relative;">
        <a ng-class="afterOperation.done?'grey2':''" ng-click="doEditCharge($event)" ng-disabled="afterOperation.done">修改</a>
        <div ng-click="$event.stopPropagation()" class="selfpop editmoney-pop " ng-show="editedCharge.trueOrFalse">
          <!-- <div class="trangle" style="margin-left: 48%;">
          </div> -->
          <div class="item-wrap">
            <h6>{{oVerifyView.edit}}</h6>
            <span class="editmoney-text">
              <span>金额:</span>
            <span>
                <input class="editMoney" type="number" name="" ng-model="editedCharge.money" />元
              </span>
            </span>
            <!-- 修改凭证照片 -->
            <div class="upload-total-wrap clearfix" style="width: 3.3rem;">
              <div class="upload-wrap clearfix">
                <div class="upload-img-wrap" ng-repeat="imgSrc in editImagesList">
                  <span class="delete" ng-click="deleteUploadImg($index)"></span>
                  <img class="charge-img" ng-click="showLargeUploadImg(imgSrc)" style="width: 140px;height: 80px;" src="{{imgSrc}}" />
                </div>
                <div class="upload-img-wrap" style="margin-right: 0;" ng-click="showAction()">
                  <i class="icon-cross" style="font-size: 32px"></i>
                </div>
              </div>
              <br>
              <p class="tips">*最多上传3张凭证照片</p>
            </div>
            <a class="btn" href="" ng-click="confirmEditCharge()">
              确认
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <a ng-class="afterOperation.done?'grey2':''" ng-click="doRejectCharge($event)" ng-disabled="afterOperation.done">拒绝</a>
        <div class="reject-pop " ng-show="rejectCharge" ng-click="$event.stopPropagation()">
          <h6>拒绝申请</h6>
          <!-- 拒绝凭证照片 -->
          <div class="upload-total-wrap clearfix">
            <div class="upload-wrap clearfix">
              <div class="upload-img-wrap" ng-repeat="imgSrc in rejectImagesList">
                <span class="delete" ng-click="deleteUploadImg($index)"></span>
                <img class="charge-img" ng-click="showLargeUploadImg(imgSrc)" style="width: 140px;height: 80px;" src="{{imgSrc}}" />
              </div>
              <div class="upload-img-wrap" style="margin-right: 0;" ng-click="showAction()">
                <i class="icon-cross" style="font-size: 32px"></i>
              </div>
            </div>
            <br>
            <p class="tips">*最多上传3张凭证照片</p>
          </div>
          <div class="row">
            <div class="col">
              <a class="btn" href="" ng-click="rejectChargeHttp()">
                拒绝
              </a>
            </div>
            <div class="col">
              <a class="btn grey" href="" ng-click="rejectCharge=false;">
                取消
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text4 clearfix">
      <span class="fl">
        发起时间:
        <span ng-cloak>{{eachChargeDetail.createDate}}</span>
      </span>
      <span class="fr">
        订单编号:
        <span ng-cloak>{{eachChargeDetail.ticketID}}</span>
      </span>
    </p>
    <p class="text5">
      {{oVerifyView.illustrate}}:
      <span ng-cloak>{{eachChargeDetail.customerRemark}}</span>
    </p>
  </div>
</ion-view>
