<ion-view view-title="历史报表">
  <!-- <div class="table-charts-history-remain" ng-if="iHistroryTab === 0">
    <div class="tr head">
      <div class="col1">日期</div>
      <div class="col2">
        <p>余额变动</p>
        <div>
          <span>期初余额</span>
          <span>期末余额</span>
          <span>余额变动</span>
        </div>
      </div>
      <div class="col3">
        <p>余额收入</p>
        <div>
          <span>出票扣款</span>
          <span>奖金存入</span>
          <span>撤单返款</span>
          <span>店内打票</span>
          <span>红包发放</span>
          <span>其他</span>
          <span>小计</span>
        </div>
      </div>
      <div class="col4">
        <p>余额支出</p>
        <div>
          <span>出票扣款</span>
          <span>余额提现</span>
          <span>其他</span>
          <span>小计</span>
        </div>
      </div>
    </div>
    <ion-scroll direction="y" style="height: 5.5rem;">
      <div class="tr">
        <span class="first">3-30</span>
        <span>1200</span>
        <span>9465</span>
        <span>1651</span>
        <span>456</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
      </div>
      <div class="tr">
        <span class="first">3-30</span>
        <span>1200</span>
        <span>9465</span>
        <span>1651</span>
        <span>456</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
      </div>
      <div class="tr">
        <span class="first">3-30</span>
        <span>1200</span>
        <span>9465</span>
        <span>1651</span>
        <span>456</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
      </div>
      <div class="tr">
        <span class="first">3-30</span>
        <span>1200</span>
        <span>9465</span>
        <span>1651</span>
        <span>456</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
      </div>
      <div class="tr">
        <span class="first">3-30</span>
        <span>1200</span>
        <span>9465</span>
        <span>1651</span>
        <span>456</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
      </div>
      <div class="tr">
        <span class="first">3-30</span>
        <span>1200</span>
        <span>9465</span>
        <span>1651</span>
        <span>456</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
        <span>4346</span>
      </div>
      <div class="tr">
          <span class="first">3-30</span>
          <span>1200</span>
          <span>9465</span>
          <span>1651</span>
          <span>456</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
        </div>
        <div class="tr">
          <span class="first">3-30</span>
          <span>1200</span>
          <span>9465</span>
          <span>1651</span>
          <span>456</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
          <span>4346</span>
        </div>

      <p class="mark">注：销量依据结账操作的时间统计，未结账方案不计入统计。</p>
    </ion-scroll>
  </div> -->
  <div class="table-charts-history-prize">
    <div class="tr head">
     <span>日期</span>
     <span>中奖方案数</span>
     <span>中奖金额</span>
     <span>已兑方案数</span>
     <span>已兑奖金</span>
     <span>未兑方案数</span>
     <span>未兑奖金</span>
   </div>
   <div style="text-align: center;" ng-if="allBonusData.length === 0">
     <img src="common/img/blank.png" >
   </div>
   <ion-scroll direction="y" style="height: 5.5rem;">
     <div class="tr" ng-if="allBonusData.length !== 0">
       <span>合计</span>
       <span >{{totalHistoryData.winPrizeOrderCount}}</span>
       <span>{{totalHistoryData.winPrizeSumMoney/100}}</span>
       <span class="blue">{{totalHistoryData.cashPrizeOrderCount}}</span>
       <span>{{totalHistoryData.cashPrizeMoney/100}}</span>
       <span>{{totalHistoryData.notCashPrizeOrderCount}}</span>
       <span>{{totalHistoryData.notCashPrizeMoney/100}}</span>
     </div>
     <div class="tr" ng-repeat="(index, bonus) in allBonusData" ng-cloak>
       <span>{{bonus.day}}</span>
       <span>{{bonus.winPrizeOrderCount}}</span>
       <span>{{bonus.winPrizeSumMoney/100}}</span>
       <span class="blue">{{bonus.cashPrizeOrderCount}}</span>
       <span>{{bonus.cashPrizeMoney/100}}</span>
       <span class="blue">{{bonus.notCashPrizeOrderCount}}</span>
       <span>{{bonus.notCashPrizeMoney/100}}</span>
     </div>
     <div style="text-align: center;" ng-if="allBonusData.length !== 0 && showLastPic === true">
       <img src="common/img/nomore.png"  class="last-pic">
     </div>
     <ion-infinite-scroll ng-if="moreBonusData.moredata" on-infinite="moreBonusData.loadMore()" distance="1%"></ion-infinite-scroll>
     <p class="mark">注：销量依据结账操作的时间统计，未结账方案不计入统计。</p>
   </ion-scroll>
  </div>
</ion-view>
