<ion-view view-title="时段统计">
  <div class="table-charts-clients">
    <div class="tr head">
      <span>时间</span>
      <span>本日下单人数</span>
      <span>本日成交人数</span>
      <!-- <span>总下单人数</span> -->
      <!-- <span>总成交人数</span> -->
      <span>本日成交金额</span>
      <!-- <span>累计下单人数</span> -->
      <!-- <span>累计成交人数</span> -->
    </div>
    <div style="text-align: center;" ng-if="allClientsData.length === 0">
      <img src="common/img/blank.png" >
    </div>
    <ion-scroll direction="y" style="height: 5.51rem;">
      <div class="tr" ng-repeat="(index, client) in allClientsData">
        <span>{{client.day}}</span>
        <span>{{client.buyOrderCount}}</span>
        <span class="blue">{{client.dealPeopleCount}}</span>
        <!-- <span>{{client.day}}</span> -->
        <!-- <span>{{client.day}}</span> -->
        <span>{{client.sumMoney/100}}</span>
        <!-- <span>{{client.day}}</span> -->
        <!-- <span>{{client.day}}</span> -->
      </div>
      <div style="text-align: center;" ng-if="allClientsData.length !== 0 && showLastPic === true">
        <img src="common/img/nomore.png"  class="last-pic">
      </div>
      <ion-infinite-scroll ng-if="moreClientsData.moredata" on-infinite="moreClientsData.loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-scroll>
  </div>
</ion-view>
